---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en" transition:animate="none">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body transition:animate="none">
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, world!</h1>
			<p>
				Welcome to my new blog. It is basically about web development, programming, computer science and other stuff about it. As its previous iterations, I use this blog to learn on practice some new technologies for me. For this time it is Astro, S3, and, maybe Tailwind (I haven't decided yet whether to use it or not.)
			</p>
			<p>
				However, I'll try to make it intresting for the readaer. Also, I'll try to do my best, to provide all important inforamtion about myself, my skills, experience and background.
			</p>
		</main>
		<Footer />
	</body>
</html>
