---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, "inline-block", "py-4", "px-2", "border-b-4", { 'font-bold': isActive, 'border-transparent': !isActive, 'border-accent': isActive}]} {...props}>
	<slot />
</a>
